@model WelcomeLeaveVM
@{
    ViewData["Title"] = "Leave Message Page";
}
@if (Model != null && Model.GuildId != null && Model.GuildInfo != null && Model.GuildInfo.DiscordGuild != null)
{
    <div class="text-center mb-5">
        <div class="pageHead">
            <h2>Leave Message</h2>
            <partial name="_GuildInfoPartial" model="Model.GuildInfo" />
        </div>


        <div class="form-center">
            <form asp-action="SaveForm" method="post">
                @Html.HiddenFor(c=>c._id)
                @Html.HiddenFor(c=>c.GuildId)
                @Html.HiddenFor(c=>c.WelcomeChannelId)
                @Html.HiddenFor(c=>c.LeaveChannelId)
                @Html.HiddenFor(c=>c.Enabled)
                @Html.HiddenFor(c=>c.GuildInfo)

                <div class="row">
                    <div class="col-lg">
                        <div class="input-group mb-3" title="You can use @@member, @@guildUrl, @@memberTag, @@guildName, @@memberCreated, @@memberJoined, @@memberCount, @@memberCreated, @@memberJoined">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.MessageContent"></label>
                            </div>
                            <textarea asp-for="LeaveEmbed.MessageContent" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3" title="You can use @@member, @@guildUrl, @@memberTag, @@guildName, @@memberCreated, @@memberJoined, @@memberCount, @@memberCreated, @@memberJoined">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedAuthor"></label>
                            </div>
                            <textarea asp-for="LeaveEmbed.EmbedAuthor" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3" title="You can use @@memberAvatar, @@guildIcon">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedAuthorImageUrl"></label>
                            </div>
                            <input asp-for="LeaveEmbed.EmbedAuthorImageUrl" class="form-control" />
                        </div>
                        <div class="input-group mb-3" title="You can use @@member, @@guildUrl, @@memberTag, @@guildName, @@memberCreated, @@memberJoined, @@memberCount, @@memberCreated, @@memberJoined">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedTitle"></label>
                            </div>
                            <textarea asp-for="LeaveEmbed.EmbedTitle" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3" title="You can use @@guildUrl">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedTitleUrl"></label>
                            </div>
                            <input asp-for="LeaveEmbed.EmbedTitleUrl" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg">

                        <div class="input-group mb-3" title="You can use @@member, @@guildUrl, @@memberTag, @@guildName, @@memberCreated, @@memberJoined, @@memberCount, @@memberCreated, @@memberJoined">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedDescription"></label>
                            </div>
                            <textarea asp-for="LeaveEmbed.EmbedDescription" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3" title="You can use @@memberAvatar, @@guildIcon">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedThumbnailImageUrl"></label>
                            </div>
                            <input asp-for="LeaveEmbed.EmbedThumbnailImageUrl" class="form-control" />
                        </div>
                        <div class="input-group mb-3" title="You can use @@member, @@guildUrl, @@memberTag, @@guildName, @@memberCreated, @@memberJoined, @@memberCount, @@memberCreated, @@memberJoined">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedFooter"></label>
                            </div>
                            <textarea asp-for="LeaveEmbed.EmbedFooter" class="form-control"></textarea>
                        </div>
                        <div class="input-group mb-3" title="You can use @@memberAvatar, @@guildIcon">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedFooterImageUrl"></label>
                            </div>
                            <input asp-for="LeaveEmbed.EmbedFooterImageUrl" class="form-control" />
                        </div>
                        <div class="input-group mb-3" title="You can use @@memberAvatar, @@guildIcon">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="LeaveEmbed.EmbedImageUrl"></label>
                            </div>
                            <input asp-for="LeaveEmbed.EmbedImageUrl" class="form-control" />
                        </div>
                    </div>
                </div>

                <br />


               @* <div style="margin:auto">
                    <p>Embed preview:</p>
                    @{
                        var embedVisiualizer = new DiscordEmbedModel { type = "rich", };
                        if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedTitle))
                        {
                            embedVisiualizer.title = Model.LeaveEmbed.EmbedTitle;
                        };
                        if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedThumbnailImageUrl))
                        {
                            embedVisiualizer.thumbnail = new Thumbnail { url = Model.LeaveEmbed.EmbedThumbnailImageUrl, proxy_url = Model.LeaveEmbed.EmbedThumbnailImageUrl };
                        };
                        if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedImageUrl))
                        {
                            embedVisiualizer.image = new Image { url = Model.LeaveEmbed.EmbedImageUrl, proxy_url = Model.LeaveEmbed.EmbedImageUrl };
                        };
                        if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedFooter))
                        {
                            embedVisiualizer.footer = new Footer { text = Model.LeaveEmbed.EmbedFooter };
                            if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedFooterImageUrl))
                            {
                                embedVisiualizer.footer.icon_url = Model.LeaveEmbed.EmbedFooterImageUrl;
                                embedVisiualizer.footer.proxy_icon_url = Model.LeaveEmbed.EmbedFooterImageUrl;
                            }
                        };
                        if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedDescription))
                        {
                            embedVisiualizer.description = Model.LeaveEmbed.EmbedDescription;
                        };
                        if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedAuthor))
                        {
                            embedVisiualizer.author = new Author { name = Model.LeaveEmbed.EmbedAuthor };
                            if (!string.IsNullOrEmpty(Model.LeaveEmbed.EmbedAuthorImageUrl))
                            {
                                embedVisiualizer.author.icon_url = Model.LeaveEmbed.EmbedAuthorImageUrl;
                                embedVisiualizer.author.proxy_icon_url = Model.LeaveEmbed.EmbedAuthorImageUrl;
                            }
                        };

                        <partial name="_EmbedMessagePartial" model="embedVisiualizer" />
                    }
                </div>*@

                <br />


                <div class="btn-group mb-2" role="group">
                    <a asp-action="Index" asp-route-guildId="@Model.GuildId" class="btn btn-info animationHoverDarkenColorButton"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
                    <a asp-action="Index" asp-controller="Guild" class="btn btn-dark animationHoverDarkenColorButton"><i class="fa fa-bars" aria-hidden="true"></i> Guilds</a>
                    <a asp-action="GuildInfo" asp-controller="Guild" asp-route-guildId="@Model.GuildId" class="btn btn-secondary animationHoverDarkenColorButton"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                    <button class="btn btn-primary animationHoverDarkenColorButton"><i class="bi bi-cloud-download"></i> Save</button>
                </div>

                <br />
                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <span class="text-danger">Invalid Model, if this keeps occuring contact webAdmin.</span>
    </div>
}


<script defer>
    $(".form-control").on("input", function () {
        $("#embedTitle").val = "";
    });

</script>